@model dynamic
<html>
<head>
    <title>Game of Life</title>
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/handlebars.min.js"></script>
    <script src="~/App/boardManager.js"></script>
</head>

<body>
    <h2>John Conway's Game of Life By TPP</h2>
    <a id="github" href="https://github.com/tpamula/GameOfLife">[github]</a>

    <div id="board-container"></div>
</body>
</html>